#!/bin/bash

# File hash for Brewfile to detect changes and trigger bundle install if needed.
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

brew bundle install --file=~/.Brewfile

# For the first run, nb path will not be set in .zshrc,
# so we need to set it here to run the bundle install command.
# export PATH="/opt/nanobrew/prefix/bin:$PATH"

# nb bundle install ~/.Brewfile
