#!/bin/bash

# File hash for Nanobrew to detect changes and trigger bundle install if needed.
# Nanobrew hash: {{ include "dot_config/nanobrew/Nanobrew" | sha256sum }}

# For the first run, nb path will not be set in .zshrc,
# so we need to set it here to run the bundle install command.
export PATH="/opt/nanobrew/prefix/bin:$PATH"

nb bundle install ~/.config/nanobrew/Nanobrew
